:root {
  --color-text: #fff;
  --color-container: #330055;
}

::selection {
  background: #9966cc;
  color: var(--color-text);
}

html {
  font-size: 62.5%;
}

body {
  background-color: #330055;
  font-family: "Inter", Arial, sans-serif;
}

/* Objects */
.flex-object {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Main */
.content {
  background-image: url("../img/background.svg");
  background-attachment: fixed;
  background-size: contain;
  color: var(--color-text);
  width: 100%;
  height: 100vh;
}

.container {
  background: var(--color-container);
  border-radius: 15px;
  padding: 1rem;
  width: 40%;
}

.container-items {
  text-align: center;
}

.container-items h1 {
  font-size: 3.5rem;
}

.container-items p {
  font-size: 2rem;
  font-weight: 500;
  width: 40ch;
}

.container img {
  width: 75%;
  border-radius: 25px;
  transition: all 0.25s;
}

.container img:hover {
  transform: scale(1.025);
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }

  .container-items p {
    width: 30ch;
    font-size: 1.7rem;
  }

  .container-items img {
    width: 70%;
  }
}
